<!-- Collapsible menu -->
<ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">contacts</i>Contact Us</div>
            <div class="collapsible-body">
              

<!-- Card Containing Contaact -->
<div class="row">
        <div class="col s12">
          <div class="card ">
            <div class="card-content ">
              <span class="card-title center">Contact Details</span>
<!-- Contact Table -->

                    <table>
                        <thead>
                            <tr>
                                <th>Name </th>
                                <th>Number</th>
                                <th>Email</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr >
                            
                            <!-- <td *ngFor="let data of capabilitiesInfo.conference"
                            > {{data}}
                        </td> -->
                           
                            </tr> 
                        </tbody>
                    </table>


<!-- End of Contact card divs -->
            </div>
          </div>
        </div>
      </div>

