<!-- Collapsible menu -->
<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">call</i>Calls</div>
        <div class="collapsible-body">
          

<!-- Card Containing Ethernet -->
<div class="row">
    <div class="col s12">
      <div class="card ">
        <div class="card-content ">
          <span class="card-title center">Details</span>
<!-- Call Details Table -->

                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th *ngFor="let header of callsInfo.callsHeaderOne"
                            >
                            {{header}}
                            </th>
                        </tr>      
                    </thead>

                    <tbody>
                        <tr >
                        
                        <td *ngFor="let data of callsInfo.callsOne"
                        > {{data}}
                    </td>
                       
                        </tr> 
                    </tbody>
                    <thead>
                            <tr>
                                <th *ngFor="let header of callsInfo.callsHeaderTwo"
                                >
                                {{header}}
                                </th>
                            </tr>      
                        </thead>
                        <tbody>
                                <tr >
                                
                                <td *ngFor="let data of callsInfo.callsTwo"
                                > {{data}}
                            </td>
                               
                                </tr> 
                            </tbody>


                </table>


<!-- End of Call card divs -->
        </div>
      </div>
    </div>
  </div>

