<!-- Collapsible menu -->
<ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="material-icons">build</i>System</div>
            <div class="collapsible-body">
              

<!-- Card Containing Ethernet -->
<div class="row">
        <div class="col s12">
          <div class="card ">
            <div class="card-content">
              <span class="card-title center">Hardware</span>
<!-- Ethernet Table -->

                    <table>
                        <thead>
                            <tr>
                                <th>ProductID</th>
                                <th>Serial Number</th>
                                <th>ProductPlatform</th>
                                <th>ProductType</th>
                                <th>Temperature</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>{{systemInfo.productId}}</td>
                                <td>{{systemInfo.serialNumber}}</td>
                                <td>{{systemInfo.productPlatform}}</td>
                                <td>{{systemInfo.productType}}</td>
                                <td>{{systemInfo.temperature}}</td>
                                <!-- <td *ngFor="let item of networkInfo.ethernet">
                                {{item}}
                                </td> -->
                            </tr> 
                        </tbody>
                    </table>


<!-- End of Hardware card divs -->
            </div>
          </div>
        </div>
      </div>

      <!-- Card Containing Fan -->
<div class="row">
        <div class="col s12">
          <div class="card ">
            <div class="card-content ">
              <span class="card-title center">Fan</span>
<!-- Fan -->

                    <table>
                        <thead>
                            <tr>
                                <th *ngFor="let header of systemInfo.fanHeader"
                                >{{header}}</th>
                                
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let row of systemInfo.fan"
                            >
                            <td *ngFor="let data of row"
                            >{{data}}</td>
                                
                            </tr> 
                        </tbody>
                    </table>


<!-- End of Fan card divs -->
            </div>
          </div>
        </div>
      </div>


      <!-- Card Containing Software -->
<div class="row">
        <div class="col s12">
          <div class="card ">
            <div class="card-content ">
              <span class="card-title center">Software</span>
<!-- Software -->

                    <table>
                        <thead>
                            <tr>
                                <th *ngFor="let header of systemInfo.softwareHeader"
                                >{{header}}</th>
                                
                            </tr>
                        </thead>

                        <tbody>
                            <tr >
                            <td *ngFor="let item of systemInfo.software"
                            >{{item}}</td>
                                
                            </tr> 
                        </tbody>
                    </table>


<!-- End of Software card divs -->
            </div>
          </div>
        </div>
      </div>

      <!-- Card Containing State -->
<div class="row">
        <div class="col s12">
          <div class="card ">
            <div class="card-content ">
              <span class="card-title center">State</span>
<!-- State -->

                    <table>
                        <thead>
                            <tr>
                                <th *ngFor="let header of systemInfo.stateHeader"
                                >{{header}}</th>
                                
                            </tr>
                        </thead>

                        <tbody>
                            <tr >
                            <td *ngFor="let item of systemInfo.state"
                            >{{item}}</td>
                                
                            </tr> 
                        </tbody>
                    </table>


<!-- End of State card divs -->
            </div>
          </div>
        </div>
      </div>



<!-- End of collapsible menu -->
            </div>
        </li>









